<h2>Change Password</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |form| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field mb-3">
    <%= form.label :current_password %>
    <%= form.password_field :current_password, autocomplete: "current-password", class: "form-control", required: true %>
  </div>

  <div class="field mb-3">
    <%= form.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= form.password_field :password, placeholder: "Password (1 uppercase, 1 lowercase, 1 number)", autocomplete: "new-password", class: "form-control", required: true  %>
  </div>

  <div class="field mb-3">
    <%= form.label :password_confirmation %><br />
    <%= form.password_field :password_confirmation, placeholder: "Confirm Password", autofocus: true, autocomplete: "new-password", class: "form-control", required: true  %>
  </div>

  <div class="actions mb-3">
    <%= form.submit "Update Password", class: "btn btn-primary" %>
  </div>
<% end %>

<div>
  <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn btn-secondary" %>
</div>

<%= link_to "Back", :back %>
