<div id="<%= dom_id wizard %>">
  <p>
    <strong>Name:</strong>
    <%= wizard.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= wizard.email %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= wizard.date_of_birth %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= wizard.bio %>
  </p>

  <p>
    <strong>Muggle relative:</strong>
    <%= wizard.muggle_relative %>
  </p>

  <p>
    <strong>House:</strong>
    <%= wizard.house %>
  </p>

  <p>
    <strong>Profile image:</strong>
    <%= wizard.profile_image %>
  </p>

</div>
